<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card card-alert">
        <span class="card-alert-text">
          Cambiar correo
        </span>
        <button class="btn card-alert-button" type="button" (click)="changeEmail()">
          CAMBIAR
        </button>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card card-alert">
        <span class="card-alert-text">
          Cambiar contraseña
        </span>
        <button class="btn card-alert-button" type="button" (click)="changePassword()">
          CAMBIAR
        </button>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card card-alert">
        <span class="card-alert-text">
          Editar perfil
        </span>
        <button class="btn card-alert-button" type="button" (click)="updatePerfil()">
          EDITAR
        </button>
      </div>
    </div>
  </div>
  