<div class="col-md-6">
    <div class="card">
      <header class="row title">
        <div class="col-xs-12 text-center">
          <h2 class="main-title">RECUPERAR CONTRASEÑA</h2>
        </div>
      </header>
      <form class="form-horizontal form-stacked" #formRecoverPassword = "ngForm">
        <div class="form-group">
          <label class="form-label col-xs-12">INGRESA TU CORREO<em>*</em></label>
          <div class="col-xs-12">
            <input type="email" class="form-control" placeholder="Email" name="email" #email= "ngModel" [(ngModel)]= "user.email">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 text-center">
            <input class="btn btn-form" type="submit" value="RECUPERAR" (click)="onRecuperar()">&nbsp;
            <input class="btn btn-form" type="submit" value="CANCELAR" (click)="onCancelar()">
          </div>
        </div>
      </form>
    </div>
  </div>