<div *ngIf="users && users.length >0">
    <div *ngFor="let user of users; let i = index">
        <p> {{ user.name }} </p>
        <p> {{ user.lastName }} </p>
        <p> {{ user.age }} </p>
        <p> {{ user.job }} </p>
        <p>{{i}}</p>
        <form [formGroup]="formA[i]" (ngSubmit)="onSubmit(user.id,formA[i])">
                <label formArrayName="orders" *ngFor="let order of formA[i].controls.orders.controls; let i = index">
                    {{orders[i].name}}
                    <mat-slide-toggle disableRipple class="mat-override" [formControlName]="i">
                        <span class="mat-slide-toggle-label-on"><i class="fa fa-check"></i></span>
                        <span class="mat-slide-toggle-label-off"><i class="fa fa-times"></i></span>
                    </mat-slide-toggle>
                </label>
            <button>submit</button>
        </form>
        <hr>
        <hr>
    </div>
</div>
