<div id="regular-tables">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <header class="row title">
          <div class="col-xs-12">
            <h2 class="main-title">Usuarios</h2>
            <span class="sub-title">Ranking del mercado americano</span>
          </div>
        </header>
        <div class="row">
          <div class="col-xs-12 table-wrapper">
            <table mat-table [dataSource]="userSource" class="table table-stripes">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
              <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef> Apellido </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
              </ng-container>
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Edad </th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
              </ng-container>
              <ng-container matColumnDef="job">
                <th mat-header-cell *matHeaderCellDef> Trabajo </th>
                <td mat-cell *matCellDef="let element"> {{element.job}} </td>
              </ng-container>
              <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn btn-primary" (click)=" registerModal(element)"><i class=" fa fa-pencil-square-o
                    fa-white-color" aria-hidden="true"></i> </button>
                  <button class="btn btn-danger separate-icons"><i class="fa fa-trash fa-white-color "></i></button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>