<h2>Escoge un indicador</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
<label formArrayName="orders" *ngFor="let order of form.controls.orders.controls; let i = index">
         <mat-checkbox *ngIf="orders[i].enable" [formControlName]="i" disableRipple >{{orders[i].name}}</mat-checkbox>
</label>

<div *ngIf="!form.valid">At least one order must be selected</div>
<br>
<button [disabled]="!form.valid">submit</button>
</form>
              
<div id="regular-tables">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
  
          <header class="row title">
            <div class="col-xs-12">
              <h2 class="main-title">Ranking del mercado Americano</h2>
              <span class="sub-title">Aqui podras ver las mejores acciones en base a los indicadores que elijas</span>
            </div>
          </header>
  
          <div class="row">
            <div class="col-xs-12 table-wrapper">
              <table mat-table [dataSource]="dataSource" class="table table-stripes">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="marketcap">
                  <th mat-header-cell *matHeaderCellDef> MARKETCAP </th>
                  <td mat-cell *matCellDef="let element"> {{element.marketCap}} </td>
                </ng-container>
                 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
