<div class="modal-login">
    <div class="modal-login-form">
        <h2 class="modal-title">Cambiar contraseña</h2>
        <div class="col-md-12">
                  <form class="form-horizontal" [formGroup]="form" (ngSubmit)="changePassword()">
                    <input type="password" class="form-control" placeholder="NEW PASSWORD" formControlName="password" name="password">
                    <input type="password" class="form-control" placeholder="REPEAT PASSWORD" formControlName="passwordrepeat" name="passwordrepeat">     
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of validationMessages.equal">
                        <div class="help-block" *ngIf="!form.valid">
                          {{ validation.message }}
                        </div>
                      </ng-container>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <span class="help-block"><em>*</em> Campos obligatorios.</span>
                      </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 text-center">
                            <input class="btn btn-form" type="submit" value="CAMBIAR CONTRASEÑA" [disabled]="!form.valid">&nbsp;
                            <input class="btn btn-form" (click)="onNoClick()" type="reset" value="CANCELAR">
                        </div>
                    </div>
                  </form>
                 
              </div>
    </div>
</div>