<!-- <div class="modal-size text-center">
    <div class="col-sm-8 main-section ">
        <div class="modal-content">
            <div class="col-12 synergy-img">
                <img src="../../assets/imgs/synergy-vision.jpg" alt="">
            </div>
            <form class="col-12">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                <input class="btn btn-form" type="submit" value="LOGIN">
                </div>
            </form>
        </div>
    </div>
</div> -->

<!-- <div class="col-md-6">
  <div class="card">
    <header class="row title">
      <div class="col-xs-12 text-center">
        <h2 class="main-title">Login Form</h2>
      </div>
    </header>
    <form class="form-horizontal form-stacked" [formGroup]="formLogin">
      <div class="form-group">
        <label class="form-label col-xs-12" [attr.for]="'email_4'">EMAIL ADDRESS<em>*</em></label>
        <div class="col-xs-12">
          <input type="email" class="form-control" formControlName="email" [id]="'email_4'" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label class="form-label col-xs-12" [attr.for]="'password_4'">PASSWORD<em>*</em></label>
        <div class="col-xs-12">
          <input type="password" class="form-control" formControlName="password" [id]="'password_4'" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <span class="help-block"><em>*</em> Required fields.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12 text-center">
        <input class="btn btn-form" type="submit" [disabled]="!formLogin.valid" value="LOGIN">
        </div>
      </div>
    </form>
  </div>
</div> -->

<div class="col-md-6">
  <div class="card">
    <header class="row title">
      <div class="col-xs-12 text-center">
        <h2 class="main-title">Register Form</h2>
      </div>
    </header>
    <form class="form-horizontal form-stacked" #formRegister="ngForm" (ngSubmit) = "createUser()">
      <div class="form-group">
        <label class="form-label col-xs-12">EMAIL ADDRESS<em>*</em></label>
        <div class="col-xs-12">
          <input type="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" placeholder="Email"  name="email">
        </div>
      </div>
      <div class="form-group">
        <label class="form-label col-xs-12">PASSWORD<em>*</em></label>
        <div class="col-xs-12">
          <input type="password" class="form-control" #password="ngModel" [(ngModel)]="user.password" placeholder="Password" name="password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <span class="help-block"><em>*</em> Required fields.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12 text-center">
        <input class="btn btn-form" type="submit" value="CREATE ACCOUNT">
        </div>
      </div>
    </form>
  </div>
</div>

     