 <div class="col-md-6">
  <div class="card">
    <header class="row title">
      <div class="col-xs-12 text-center">
        <h2 class="main-title">Login Form</h2>
      </div>
    </header>
    <form name="form" class="form-horizontal form-stacked" #formLogin ="ngForm" (ngSubmit) = "loginUser()" novalidate>
      <div class="form-group">
        <label class="form-label col-xs-12" for="email">EMAIL ADDRESS<em>*</em></label>
        <div class="col-xs-12">
          <input type="email" class="form-control" #email ="ngModel" [(ngModel)]="userLogin.email" placeholder="Email" name="email" required>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label col-xs-12">PASSWORD<em>*</em></label>
        <div class="col-xs-12">
          <input type="password" class="form-control" #password="ngModel" [(ngModel)]="userLogin.password" placeholder="Password" name="password" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <span class="help-block"><em>*</em> Required fields.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12 text-center">
          <a [routerLink]="['/recover-password']" class="recover-password">
            Olvidé mi contraseña
          </a>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12 text-center">
            <input class="btn btn-form" type="submit" value="LOGIN">
        </div>
      </div>
    </form>
  </div>
</div> 

<div class="col-md-6">
  <div class="card">
    <header class="row title">
      <div class="col-xs-12 text-center">
        <h2 class="main-title">Register Form</h2>
      </div>
    </header>
    <form class="form-horizontal form-stacked" #formRegister="ngForm" (ngSubmit) = "createUser()">
      <div class="form-group">
        <label class="form-label col-xs-12">EMAIL ADDRESS<em>*</em></label>
        <div class="col-xs-12">
          <input type="email" class="form-control" #email="ngModel" [(ngModel)]="userSignUp.email" placeholder="Email"  name="email">
        </div>
      </div>
      <div class="form-group">
        <label class="form-label col-xs-12">PASSWORD<em>*</em></label>
        <div class="col-xs-12">
          <input type="password" class="form-control" #password="ngModel" [(ngModel)]="userSignUp.password" placeholder="Password" name="password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <span class="help-block"><em>*</em> Required fields.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12 text-center">
        <input class="btn btn-form" type="submit" value="CREATE ACCOUNT">
        </div>
      </div>
    </form>
  </div>
</div>

     