<div class="full-height background-img">
  <div class="container-fluid center-block">
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 text-center">
      <!-- logo -->
      <div id="logo" class="logo text-center">
        <a [routerLink]="['/login']">
          <img class="imagewmargin" id="logo_img" style="height:110px" src="../../assets/imgs/synergy-vision-white.png"
            alt="">
        </a>
      </div>
      <div class="card">
        <header class="row title">
          <div class="col-xs-12 text-center">
            <h2 class="main-title">CAMBIAR CONTRASEÑA</h2>
          </div>
        </header>
        <form class="form-horizontal form-stacked" #formChangePassword="ngForm">
          <div class="form-group">
            <label class="form-label col-xs-12">NUEVA CONTRASEÑA<em>*</em></label>
            <div class="col-xs-12">
              <input type="password" class="form-control" placeholder="Nueva contraseña" name="newpassword"
                #newpassword="ngModel" [(ngModel)]="user.newpassword">
            </div>
          </div>
          <div class="form-group">
            <label class="form-label col-xs-12">REPITE LA CONTRASEÑA<em>*</em></label>
            <div class="col-xs-12">
              <input type="password" class="form-control" placeholder="Contraseña" name="repeatpassword"
                #repeatpassword="ngModel" [(ngModel)]="user.repeatpassword">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12 text-center">
              <input class="btn btn-form" type="submit" value="RESTABLECER" (click)="onRestablecer()">&nbsp;
              <input class="btn btn-form" type="submit" value="CANCELAR" (click)="onCancelar()">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>