<div class="modal-login">
    <div class="modal-login-form">
        <h2 class="modal-title">Crear Usuario</h2>
        <div class="col-md-12">
                  <form class="form-horizontal" [formGroup]="form" (ngSubmit)="registerUser()">
                    <input type="text" class="form-control" placeholder="NOMBRE" formControlName="name" name="nombre">
                    <input type="text" class="form-control" placeholder="APELLIDO" formControlName="lastName" name="apellido">     
                    <input type="email" class="form-control" placeholder="CORREO" formControlName="email" name="email">
                    <input type="password" class="form-control" placeholder="CONTRASEÑA" formControlName="password" name="password">
                    <input type="checkbox" name="admin" formControlName="admin" value="admin"> Administrador?
                    <div class="form-group">
                      <div class="col-xs-12">
                        <span class="help-block"><em>*</em> Campos obligatorios.</span>
                      </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 text-center">
                            <input class="btn btn-form" type="submit" value="CREAR CUENTA" [disabled]="!form.valid">&nbsp;
                            <input class="btn btn-form" (click)="onNoClick()" type="reset" value="CANCELAR">
                        </div>
                    </div>
                  </form>
                 
              </div>
    </div>
</div>