<div class="modal-register">
  <div class="modal-register-form">
    <h2 class="modal-title">Editar Usuario</h2>
    <form class="form-horizontal">
      <div class="user-data-section">
        <span class="text">Nombre</span>
        <span id="name" class="form-control">{{user.name}} {{user.lastName}}</span>
      </div>
      <div class="user-data-section">
        <span class="text">Correo</span>
        <span id="name" class="form-control">{{user.email}}</span>
      </div>
    </form>
    <div class="register-divider">
      <hr class="line"><h4>Indicadores</h4>
      <hr class="line">
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(user.id,form)" class="row">
      <label formArrayName="orders" *ngFor="let order of form.controls.orders.controls; let i = index" class="col-md-6">
        <div class="pull-left">{{orders[i].name}}</div>
        <div class="pull-right"><mat-slide-toggle disableRipple class="mat-override" [formControlName]="i">
            <span class="mat-slide-toggle-label-on"><i class="fa fa-check"></i></span>
            <span class="mat-slide-toggle-label-off"><i class="fa fa-times"></i></span>
          </mat-slide-toggle></div>
      </label>
      <hr>
      <div class="col-md-12 ">
          <input class="btn btn-form" type="submit" value="GUARDAR" [disabled]="!form.valid">&nbsp;
          <input class="btn btn-form" (click)="onNoClick()" type="reset" value="CANCELAR">
      </div>
      
    </form>
  </div>
</div>