<app-condense #condenseMenu [ngClass]="condenseMenu.menuState">
  <a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/perfil']">
    <i class="menu-item-icon fa fa-address-card-o"></i>
    <span class="menu-item-title">Mi perfil</span>
  </a>
  
  <a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/ranking']">
    <i class="menu-item-icon fa fa-line-chart"></i>
    <span class="menu-item-title">Ranking</span>
  </a>
  
</app-condense>
<div class="condense-toggle-wrapper" [ngClass]="{'condensed': condenseMenu.menuState == 'condensed'}">
  <span (click)="condenseMenu.toggleState()" class="condense-toogle"></span>
</div>
