@import '../../styles/variables';
@import '../../styles/mixins';

.imagewmargin {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

#logo_img {
  height: 62px;
  padding-top: 0.5vw;
}

.help-block{
  margin-bottom: 0px !important;
}
.form-group{
  margin-bottom: 15px !important;
}

.full-height{
  height: 100%;
  
}

.background-img{
  background-image: url('../../../assets/imgs/background-ranking.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 
}

.recover-password {
    color: $grey;
    font-size: $font-size-xs;
    letter-spacing: $letter-spacing-xxs;
  }